<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FWCB2014.Import.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <castle>
    <facilities>
      <facility id="startable.facility" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor"/>
      <facility id="quartznet" type="Castle.Facilities.QuartzIntegration.QuartzFacility, Castle.Facilities.QuartzIntegration">
        <schedulerListeners>
          <item>${sampleSchedulerListener}</item>
        </schedulerListeners>
        <quartz>
          <item key="quartz.scheduler.instanceName">XmlConfiguredInstance</item>
          <item key="quartz.threadPool.type">Quartz.Simpl.SimpleThreadPool, Quartz</item>
          <item key="quartz.threadPool.threadCount">5</item>
          <item key="quartz.threadPool.threadPriority">Normal</item>
          <item key="quartz.plugin.xml.type">Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz</item>
          <item key="quartz.plugin.xml.scanInterval">10</item>
          <item key="quartz.plugin.xml.fileNames">~/quartz_jobs.xml</item>
        </quartz>
      </facility>
    </facilities>
    <components>
      <component id="sampleSchedulerListener" type="FWCB2014.Import.Runner.Listeners.SampleSchedulerListener, FWCB2014.Import.Runner"/>
      <component id="countriesJob" type="FWCB2014.Import.Runner.Jobs.CountriesJob, FWCB2014.Import.Runner"/>
      <component id="matchesJob" type="FWCB2014.Import.Runner.Jobs.MatchesJob, FWCB2014.Import.Runner"/>
      <component id="standingsJob" type="FWCB2014.Import.Runner.Jobs.StandingsJob, FWCB2014.Import.Runner"/>
    </components>
  </castle>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FWCB2014.Import.Runner.Properties.Settings>
      <setting name="SyndicationRoot" serializeAs="String">
        <value>D:\Users\mattia\Source\Repos\fifa-world-cup-2014\FWCB2014.Import.Runner</value>
      </setting>
      <setting name="RestCountriesUri" serializeAs="String">
        <value>http://restcountries.eu/rest/v1</value>
      </setting>
      <setting name="DateTimeFormat" serializeAs="String">
        <value>dd/MM/yyyy HH:mm:ss.fff</value>
      </setting>
    </FWCB2014.Import.Runner.Properties.Settings>
  </userSettings>
</configuration>