<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FWCB2014.Import.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <castle>
    <facilities>
      <facility id="startable.facility" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />
      <facility id="quartznet" type="Castle.Facilities.QuartzIntegration.QuartzFacility, Castle.Facilities.QuartzIntegration">
        <quartz>
          <item key="quartz.scheduler.instanceName">XmlConfiguredInstance</item>
          <item key="quartz.threadPool.type">Quartz.Simpl.SimpleThreadPool, Quartz</item>
          <item key="quartz.threadPool.threadCount">5</item>
          <item key="quartz.threadPool.threadPriority">Normal</item>
          <item key="quartz.plugin.xml.type">Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz</item>
          <item key="quartz.plugin.xml.scanInterval">10</item>
          <item key="quartz.plugin.xml.fileNames">~/quartz_jobs.xml</item>
        </quartz>
      </facility>
    </facilities>
    <components>
      <component id="countriesJob" type="FWCB2014.Import.Runner.Jobs.CountriesJob, FWCB2014.Import.Runner" />
      <component id="matchesJob" type="FWCB2014.Import.Runner.Jobs.MatchesJob, FWCB2014.Import.Runner" lifestyle="singleton" />
      <component id="standingsJob" type="FWCB2014.Import.Runner.Jobs.StandingsJob, FWCB2014.Import.Runner" lifestyle="singleton" />
    </components>
  </castle>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FWCB2014.Import.Runner.Properties.Settings>
      <setting name="SyndicationRoot" serializeAs="String">
        <value>C:\Users\mattiaerre\Source\Repos\fifa-world-cup-2014\FWCB2014.Syndication.Web</value>
      </setting>
      <setting name="RestCountriesUri" serializeAs="String">
        <value>http://restcountries.eu/rest/v1</value>
      </setting>
      <setting name="DateTimeFormat" serializeAs="String">
        <value>dd/MM/yyyy HH:mm:ss.fff</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>6b38225a69b2277dc7ecc512e70b66ad</value>
      </setting>
    </FWCB2014.Import.Runner.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>