<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FWCB2014.Import.Infrastructure.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FWCB2014.Import.Infrastructure.Tests.Properties.Settings>
            <setting name="SyndicationRoot" serializeAs="String">
                <value>C:\Users\mattiaerre\Source\Repos\fifa-world-cup-2014\FWCB2014.Syndication.Web</value>
            </setting>
            <setting name="InfrastructureRoot" serializeAs="String">
                <value>D:\Users\mattia\Source\Repos\fifa-world-cup-2014\FWCB2014.Import.Infrastructure.Tests</value>
            </setting>
        </FWCB2014.Import.Infrastructure.Tests.Properties.Settings>
    </userSettings>
</configuration>